<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Password Reset Request</h2>
    <p>Hello <%= @user.name || 'there' %>,</p>
    <p>We received a request to reset your password. Click the link below to set a new password:</p>
    <p><%= link_to 'Reset Password', @reset_url %></p>
    <p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
    <p>This link will expire in 24 hours.</p>
    <p>Thanks,<br>The Auto AI Agent Team</p>
  </body>
</html>
